/* Hide comments */
my-video-comments.border-top {
  display: none !important;
}

.peertube-container .top-left-block .peertube-title span.instance-name {
  display: none;
}

/* hide login buttons block */

.login-buttons-block {
  display: none;
}

.peertube-container .header-right a.publish-button {
  display: none;
}

.user-logged-in .header-right a.publish-button {
  display: flex;
}

.on-instance .block-title {
  margin-top: 34px;
  font-size: 15px;
}

.action-button-like,
.action-button-dislike {
  display: none !important;
}

span.c-hand[role="button"] {
  font-size: 17px !important;
  font-weight: 500 !important;
}

/* hide trending buto */
.btn-group.btn-group-toggle.ng-untouched.ng-pristine.ng-valid {
  display: none;
}

/* remove default themes */

option[value="default"],
option[value="instance-default"] {
  display: none;
}
.peertube-container .top-left-block .peertube-title span.instance-name {
  display: none;
}
#typeahead-container input#search-video.focus-visible {
  padding-left: 10px;
  padding-right: 40px;
  z-index: 70;
}
.custom-links-header {
  display: block;
  position: fixed;
  height: 50px;
  top: 0px;
  left: 240px;
  right: 390px;
  overflow: hidden;
  z-index: 50;
}
.header .header-right {
  display: block !important;
  position: absolute;
  top: 10px;
  right: 0px;
  left: 505px;
}

.custom-links-header p a {
  position: relative;
  float: left;
  top: 0px;
  bottom: 0px;
  display: block;
  height: 50px;
  padding: 8px 35px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s;
  text-align: center;
}

#typeahead-container input#search-video {
  display: block;
  position: absolute;
  border: unset;
  background-color: unset;
  right: 0px;
  width: 250px;
}
#typeahead-help, #typeahead-instructions{
  margin-top:34px;
}

.header-right my-search-typeahead {
  margin-right: 5px;
}

#typeahead-container {
  width: 100%;
}

#typeahead-container:focus input,
#typeahead-container:focus-within input {
  width: 100% !important;
}
.header-right a.publish-button {
  margin-right: 15px;
}
@media (max-width: 1100px) {
  .user-logged-in .custom-links-header {
    right: 390px;
  }
  .custom-links-header {
    right: 260px;
  }
}
@media screen and (max-width: 900px) {
  .user-logged-in .custom-links-header {
    right: 190px;
  }

  .custom-links-header {
    right: 60px;
  }
  .header .header-right {
    left: 230px;
  }
  .custom-links-header p a {
    width: 50%;
  }
  #typeahead-container input#search-video {
    width: 44px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 715px) {
  .user-logged-in .custom-links-header {
    right: 190px;
  }
  .custom-links-header {
    left: 40px;
    right: 60px;
  }
  .custom-links-header p a {
    width: 50%;
  }
  .header .header-right {
    left: 51px;
  }
}
@media screen and (max-width: 600px) {
  .user-logged-in .custom-links-header {
    right: 120px;
  }
  .custom-links-header {
    right: 60px;
  }
}
