/* Hide comments */
my-video-comments.border-top {
  display: none !important;
}

.peertube-container .top-left-block .peertube-title span.instance-name {
  display: none;
}

/* hide login buttons block */

.login-buttons-block {
  display: none;
}

.peertube-container .header-right a.publish-button {
  display: none;
}

.user-logged-in .header-right a.publish-button {
  display: flex;
}

.on-instance .block-title {
  margin-top: 34px;
  font-size: 15px;
}

.action-button-like,
.action-button-dislike {
  display: none !important;
}

span.c-hand[role="button"] {
  font-size: 17px !important;
  font-weight: 500 !important;
}

/* remove default themes */

option[value=default],option[value=instance-default] {
  display: none;
}

/* hide subscripbe button */
.btn-group-subscribe{
  visibility: hidden;
}
/* hide liked link */
a[routerlink="/videos/most-liked"] {
  display: none !important;
}